name: L2 tests

on:
  pull_request:
  push:
    branches:
      - main
      - audit-fixes
      - audit-fixes-L2

defaults:
  run:
    working-directory: L2

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install tox and any other packages
        run: |
          python -m pip install --upgrade pip
          pip install pytest tox cairo-lang
          npm install -g ganache-cli

      - name: Run tox
        # Run tox using the version of Python in `PATH`
        run: tox
